<?xml version="1.0" encoding="UTF-8"?>
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DeptMapper">


    <!-- 다중행 반환 -->
	<select id="selectAll" resultType="Dept">
	   select deptno, dname, loc
	   from dept
	   order by deptno asc
	</select>

</mapper>






